@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    src: url('/public/css/fonts/Roboto-regular/Roboto-regular.eot');
    src: url('/public/css/fonts/Roboto-regular/Roboto-regular.eot?#iefix') format('embedded-opentype'),
    local('Roboto'),
    local('Roboto-regular'),
    url('/public/css/fonts/Roboto-regular/Roboto-regular.woff2') format('woff2'),
    url('/public/css/fonts/Roboto-regular/Roboto-regular.woff') format('woff'),
    url('/public/css/fonts/Roboto-regular/Roboto-regular.ttf') format('truetype'),
    url('/public/css/fonts/Roboto-regular/Roboto-regular.svg#Roboto') format('svg');
}

@font-face {
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-style: normal;
    src: url('/public/css/fonts/Roboto-Slab-regular/Roboto-Slab-regular.eot');
    src: url('/public/css/fonts/Roboto-Slab-regular/Roboto-Slab-regular.eot?#iefix') format('embedded-opentype'),
    local('Roboto Slab Regular'),
    local('Roboto-Slab-regular'),
    url('/public/css/fonts/Roboto-Slab-regular/Roboto-Slab-regular.woff2') format('woff2'),
    url('/public/css/fonts/Roboto-Slab-regular/Roboto-Slab-regular.woff') format('woff'),
    url('/public/css/fonts/Roboto-Slab-regular/Roboto-Slab-regular.ttf') format('truetype'),
    url('/public/css/fonts/Roboto-Slab-regular/Roboto-Slab-regular.svg#RobotoSlab') format('svg');
}

body, html, #container {
    /*height: 100%;*/
}

body {
    margin: 0;
}

hr {
    width: 50%;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin: 20px auto;
}

h1, h2, h3, h4, h5, a, button, input, textarea {
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    margin: 0;
}

h1 {
    padding-top: 10px;
    padding-bottom: 20px;
}

p, b, i, li, label, small, span {
    font-family: 'Roboto', serif;
    font-size: 20px;
}

small, span {
    font-size: 14px;
}

a {
    color: #DDA0DD;
}

p {
    margin: 10px 0;
}

label {
    display: block;
    font-size: 18px;
}

input, select, button {
    font-size: 28px;
    box-sizing: border-box;
}

input, select {
    width: 100%;
}

button {
    padding: 4px 6px;
}

img {
    max-width: 100%;
}

@media (min-width: 720px) {

    /*
     * Buttercup is one fat cat
     */
    .buttercup {
        font-size: 48px;
        margin: 30px 0;
    }

    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }

    .fifty {
        box-sizing: border-box;
        float: left;
        width: 50%;
    }

    .twenty-five {
        box-sizing: border-box;
        float: left;
        width: 25%;
    }

    .seventy-five {
        box-sizing: border-box;
        float: left;
        width: 75%;
    }
}

.padded {
    padding: 0 10px;
}
