
.subtext {
    font-weight: normal;
}


.header {
    color: #fff;
    text-align: center;

    padding: 16px;
    margin-bottom: 16px;
    min-height: 30px;

    box-shadow: 0 6px #254e44;

    background: #459280; /* Old Browsers */
    background: -webkit-linear-gradient(bottom left, #459280, #00ced1); /*Safari 5.1-6*/
    background: -o-linear-gradient(bottom left, #459280, #00ced1); /*Opera 11.1-12*/
    background: -moz-linear-gradient(bottom left, #459280, #00ced1); /*Fx 3.6-15*/
    background: linear-gradient(bottom left, #459280, #00ced1); /*Standard*/
}

.dev-1 {
    fill: #38aecc
}
.dev-2 {
    fill: #022f40
}
.dev-3 {
    fill: #fff
}
.dev-4 {
    fill: #5f5
}
.logo-container {
    max-width: 100%;
    margin: 0 auto 5px;
    /*min-height: 100px;*/
}
.logo-container > svg {
    height: 100%;
    width: 100%;
}


.body {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
}

.error {
    color: #fff;

    padding: 16px 18px;
    border-radius: 8px;
    text-align: center;

    background-image: -webkit-gradient(
            linear,
            right bottom,
            right bottom,
            color-stop(0, #EF9A9A),
            color-stop(1, #F44236)
    );
    background-image: -o-linear-gradient(right bottom, #EF9A9A 0%, #F44236 100%);
    background-image: -moz-linear-gradient(right bottom, #EF9A9A 0%, #F44236 100%);
    background-image: -webkit-linear-gradient(right bottom, #EF9A9A 0%, #F44236 100%);
    background-image: -ms-linear-gradient(right bottom, #EF9A9A 0%, #F44236 100%);
    background-image: linear-gradient(to right bottom, #EF9A9A 0%, #F44236 100%);
}


.button {
    display: inline-block;
    box-sizing: border-box;
    padding: 8px 16px;

    cursor: pointer;

    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.3);

    border: 3px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;

    transition: color 0.2s ease-out, border-color 0.2s ease-out, background-color 0.2s ease-out;
}
.button.thin {
    padding: 2px 4px;
    font-size: 14px;
}
.button.round {
    border-radius: 32px;
}
.button.full {
    width: 100%;
}
.button:hover {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.1) !important;
}
.button svg {
    height: 20px;
    width: auto;
    margin: 0 4px -3px;
}

.header-tabs .button, .header-tabs .input-container {
    margin: 4px 5px;
    display: inline-block;
    width: 100%;
}
.header-tabs .input {
    width: 100%;
    margin: 0;
}
@media(min-width: 720px) {
.header-tabs .button, .header-tabs .input-container, .header-tabs .input {
        width: auto;
}
}

.header-tabs {
    margin: 20px 0 10px;
}

@media (min-width: 720px) {
.info-avatar {
        margin: 5px auto 12px !important;
}
}

.top-left {
    display: block;
    border: 0;
    width: 100%;
    font-size: 16px;
    color: #fff;

    margin: 14px 2px 18px;
    padding: 4px 0;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
}
@media (min-width: 720px) {
.top-left {
        display: inline-block;
        width: 175px;
        position: absolute;
        top: 0;
        left: 0;
        margin: 12px;
}
}
.top-left {
    display: inline-block;
}

.top-link {
    width: 100%;
    padding-left: 6px;
    margin: 1px 0;
    box-sizing: border-box;
    height: 30px;
    display: block;
    text-align: left;
    /*border-bottom: 1px solid rgba(255, 255, 255, 0.3);*/

    color: #fff;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
}
.top-link:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.top-text {
    text-align: left;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding: 5px 15px 5px 5px;
    display: inline-block;
}

.top-icon {
    float: right;
    display: inline-block;
    box-sizing: border-box;
    height: 30px;
    text-align: right;
    margin: 0 0 0 4px;
    padding: 6px;
    background-color: rgba(255, 255, 255, 0.2);
}

.gh-avatar {
    border: 4px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
}

.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contest {
    /*margin: 10px 20px;*/

    color: #fff;

    display: inline-block;
    box-sizing: border-box;
    max-width: 300px;
}
.contest .content {
    padding: 20px 10px;
}
.contest .title {
    font-size: 26px;
    margin-bottom: 10px;
}
.contest .description, .contest .status {
    color: #eee;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.contest .button-container {
    padding: 10px;
}
.contest .button {
    font-size: 20px;
    width: 100%;
}


.information {
    padding: 8px 20px;
    background-color: rgba(255, 255, 255, 0.2);
}

.account-name {
    margin: 0;
}

.trophy-case {
    width: auto;
    display: inline-block;

    padding: 10px;

    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 4px;
}

.trophy {
    max-width: 100px;
    margin: 10px 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.input-container {
    display: block;
}
.input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    padding: 10px;
    margin: 0 0 10px;

    font-size: 14px;

    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.4);
}
.label {
    margin: 0;
    padding: 0;
    font-size: 14px;
    width: 100%;
}


.st0 {
    fill: #fff;
}
.st1 {
    fill: #262262;
}
.st2 {
    fill: url(#SVGID_1_);
}

.colored-box {
    border-radius: 8px;
    border: 3px solid #fff;
    background-color: #fff;

    margin: 10px;
}
.colored-box-title {
    font-weight: 300;
    text-align: center;
    padding: 10px 16px;
    color: #fff;
}
.colored-box-padded {
    padding: 8px;
}

.account-media a.button {
    width: 100%;
    display: block;
    margin: 0 0 6px;
}
.account-media .twitter-logo {
}

.twit-2 {
    fill: #fff;
}

.uil-ripple-container {
    text-align: center;
    font-family: sans-serif;
}
.uil-ripple {
    margin: 0 auto;
    width: 100px;
    height: 100px;
}
.uil-ripple svg {
    width: 100%;
    height: 100%;
}

.image-upload {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border: 1px solid #ccc;
}
.image-upload-image {
    display: block;
    height: 100px;
    width: 100px;
    margin: 0 auto;
}
.image-upload-placeholder {
    height: 100%;
    width: 100%;

    font-family: sans-serif;
    vertical-align: middle;
    line-height: 100px;

    background-color: #ccc;
}
.image-upload-input {
    cursor: pointer;
    position: relative;
    top: -100px;
    width: 100px;
    height: 100px;
    opacity: 0;
}
