<TopLeft href="{{href}}">
    <Logo height="{{'70px'}}"/>
    {{#if account && account.id}}
        <a class="top-link" href="/">
            <h5 class="top-text">Home</h5>
            <div class="top-icon">
                <HomeIcon/>
            </div>
        </a>
        <a class="top-link" href="/authentication/away">
            <h5 class="top-text">Account</h5>
            <div class="top-icon">
                <GithubAvatar id="{{account.github_id}}" size="18" marginBottom="'0px'" marginTop="'0px'"/>
            </div>
        </a>
        <a class="top-link" href="/authentication/logout">
            <h5 class="top-text">Log Out</h5>
            <div class="top-icon">
                <LogOutIcon/>
            </div>
        </a>
    {{else}}
        <a class="top-link" href="/">
            <h5 class="top-text">Home</h5>
            <div class="top-icon">
                <HomeIcon/>
            </div>
        </a>
        <a class="top-link" href="/authentication/away">
            <h5 class="top-text">Log In/Register</h5>
            <div class="top-icon">
                <LogInIcon/>
            </div>
        </a>
    {{/if}}
</TopLeft>

<style>
    @media (min-width: 1000px) {
        .info-avatar {
            margin: 5px auto 12px !important;
        }
    }
</style>

<script>
    import TopLeft from '../containers/TopLeft.html';
//    import TopLink from '../containers/TopLink.html';
    import TopText from '../containers/TopText.html';
    import TopIcon from '../containers/TopIcon.html';
    import Logo from '../images/Logo.html';
    import LogInIcon from '../images/LogInIcon.html';
    import LogOutIcon from '../images/LogOutIcon.html';
    import AccountIcon from '../images/AccountIcon.html';
    import HomeIcon from '../images/HomeIcon.html';
    import GithubAvatar from '../images/GithubAvatar.html';

    export default {
//        props: ['account', 'home'],
        components: {
            TopLeft,
//            TopLink,
            TopText,
            TopIcon,
            LogInIcon,
            LogOutIcon,
            HomeIcon,
            Logo,
            AccountIcon,
            GithubAvatar
        },
        computed: {
            link(home) {
                if (home) {
                    return '/authentication/away';
                }
            },
            href(home) {
                if (home) {
                    return '/authentication/away';
                } else {
                    return '/';
                }
            }
        }
    };
</script>
