<a class="account-info" href="/authentication/away">
    Log In or Register
</a>

<style>
    .account-info {
        display: block;
        border: 0;
        width: 100%;
        font-size: 16px;
        color: #fff;
        cursor: pointer;

        margin: 14px 2px 18px;
        padding: 8px 6px;
        border-radius: 4px;
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.3);
        text-decoration: none;

        transition: background-color 0.2s ease-out;
    }

    .account-info:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    @media (min-width: 720px) {
        .account-info {
            display: inline-block;
            width: auto;
            position: absolute;
            top: 0;
            right: 0;
            margin: 12px;
        }
    }
</style>

<script>
    export default {

    };
</script>
