<div class="account-media">
    {{#if loading}}
        <LoaderIcon/>
    {{else}}
        {{#if error}}
            <Error style="margin-bottom: 15px">{{error}}</Error>
        {{/if}}
        {{#if !edit}}
            {{#if user.username}}
                <DButton href="https://github.com/{{user.username}}" target="_blank" index="{{index}}">
                    <GithubLogo/>
                    / {{user.username}}
                </DButton>
            {{/if}}
            {{#if user.beam}}
                <DButton href="https://beam.pro/{{user.beam}}" target="_blank" index="{{index}}">
                    <BeamLogo/>
                    / {{user.beam}}
                </DButton>
            {{/if}}
            {{#if user.twitter}}
                <DButton href="https://twitter.com/{{user.twitter}}" target="_blank" index="{{index}}">
                    <TwitterLogo class="twitter-logo"/>
                    / {{user.twitter}}
                </DButton>
            {{/if}}
            {{#if user.twitch}}
                <DButton href="https://twitch.tv/{{user.twitch}}" target="_blank" index="{{index}}">
                    <TwitchLogo/>
                    / {{user.twitch}}
                </DButton>
            {{/if}}
        {{else}}
            <DInput value="{{user.beam}}" id="beam" on:input="input('beam', event)">Beam</DInput>
            <DInput value="{{user.twitter}}" id="twitter" on:input="input('twitter', event)">Twitter</DInput>
            <DInput value="{{user.twitch}}" id="twitch" on:input="input('twitch', event)">Twitch</DInput>
        {{/if}}
        {{#if account.id === user.id}}
            <DButton on:click="save()" index="2" box="true" full="true" size="thin">
                {{#if edit}}
                    Save
                {{else}}
                    Edit Media
                {{/if}}
            </DButton>
        {{/if}}
    {{/if}}
</div>

<style>
    .account-media a.button {
        width: 100%;
        display: block;
        margin: 0 0 6px;
    }

    .account-media .twitter-logo {
    }
</style>

<script>
    import GithubLogo from '../images/GithubLogo.html';
    import BeamLogo from '../images/BeamLogo.html';
    import TwitterLogo from '../images/TwitterLogo.html';
    import TwitchLogo from '../images/TwitchLogo.html'
    import DButton from '../forms/DevathonButton.html';
    import DInput from '../forms/DevathonInput.html';
    import LoaderIcon from '../images/LoaderIcon.html';
    import Error from '../containers/Error.html';

    import {request, NetworkError} from '../../components/helpers/network';

    export default {
//        props: ['user', 'index', 'account'],
        methods: {
            input(type, event) {
                this.get('user')[type] = event.target.value;
            },
            async save() {
                if (this.get('edit')) {
                    this.set({loading: true});
                    try {
                        const user = this.get('user');
                        await request('/api/profile/media/edit', {
                            method: 'POST',
                            body: JSON.stringify({
                                beam: user.beam,
                                twitch: user.twitch,
                                twitter: user.twitter
                            })
                        }); // we don't care about the return, if it's not an error
                        this.set({error: null});
                    } catch (err) {
                        let error;
                        if (NetworkError.is(err)) {
                            error = err.message;
                        } else {
                            console.error(err);
                            error = 'An unknown server error occurred.';
                        }
                        this.set({error});
                    }
                    this.set({loading: false, edit: false});
                } else {
                    this.set({edit: true});
                }
            }
        },
        data() {
            return {
                error: null,
                edit: false,
                loading: false
            }
        },
        components: {
            GithubLogo,
            BeamLogo,
            TwitterLogo,
            TwitchLogo,
            DButton,
            DInput,
            LoaderIcon,
            Error
        }
    }
</script>
