<div class="account-media">
    {{#if loading}}
        <LoaderIcon/>
    {{else}}
        {{#if error}}
            <Error style="margin-bottom: 15px">{{error}}</Error>
        {{/if}}
        {{#if !edit}}
            {{#if user.username}}
                <DButton href="https://github.com/{{user.username}}" target="_blank" index="{{index}}">
                    <GithubLogo/>
                    / {{user.username}}
                </DButton>
            {{/if}}
            {{#if inputBeam}}
                <DButton href="https://beam.pro/{{inputBeam}}" target="_blank" index="{{index}}">
                    <BeamLogo/>
                    / {{user.beam}}
                </DButton>
                {{/if}}
                {{#if inputTwitter}}
                <DButton href="https://twitter.com/{{inputTwitter}}" target="_blank" index="{{index}}">
                    <TwitterLogo class="twitter-logo"/>
                    / {{user.twitter}}
                </DButton>
                {{/if}}
                {{#if inputTwitch}}
                <DButton href="https://twitch.tv/{{inputTwitch}}" target="_blank" index="{{index}}">
                    <TwitchLogo/>
                    / {{user.twitch}}
                </DButton>
            {{/if}}
        {{else}}
            <DInput id="beam" on:input="set({ inputBeam: event.target.value })" value="{{inputBeam}}">Beam</DInput>
            <DInput id="twitter" on:input="set({ inputTwitter: event.target.value })" value="{{inputTwitter}}">Twitter</DInput>
            <DInput id="twitch" on:input="set({ inputTwitch: event.target.value })" value="{{inputTwitch}}">Twitch</DInput>
        {{/if}}
        {{#if account.id === user.id}}
        <DButton on:click="save()" index="2" box="true" full="true" size="thin">
            {{#if edit}}
            Save
            {{else}}
            Edit Media
            {{/if}}
        </DButton>
        {{/if}}
    {{/if}}
</div>

<style>
    .account-media a.button {
        width: 100%;
        display: block;
        margin: 0 0 6px;
    }

    .account-media .twitter-logo {
    }
</style>

<script>
    import GithubLogo from '../images/GithubLogo.html';
    import BeamLogo from '../images/BeamLogo.html';
    import TwitterLogo from '../images/TwitterLogo.html';
    import TwitchLogo from '../images/TwitchLogo.html'
    import DButton from '../forms/DevathonButton.html';
    import DInput from '../forms/DevathonInput.html';
    import LoaderIcon from '../images/LoaderIcon.html';
    import Error from '../containers/Error.html';

    import { request, NetworkError } from '../../components/helpers/network';

    export default {
        oncreate() {
            const { beam, twitter, twitch } = this.get('user');
            this.set({
                inputBeam: beam,
                inputTwitter: twitter,
                inputTwitch: twitch
            });
        },
        methods: {
            save() {
                if (this.get('edit')) {
                    const { inputBeam, inputTwitch, inputTwitter, user } = this.get();
                    const { beam, twitter, twitch } = user;

                    if (inputBeam === beam && inputTwitter === twitter && inputTwitch === twitch) {
                        return this.set({ loading: false, edit: false });
                    }

                    Object.assign(user, {
                        beam: inputBeam,
                        twitter: inputTwitter,
                        twitch: inputTwitch
                    });

                    this.set({ loading: true });
                    try {
                        request('/api/profile/media/edit', {
                            method: 'POST',
                            body: JSON.stringify({
                                beam: inputBeam,
                                twitch: inputTwitch,
                                twitter: inputTwitter
                            })
                        }).then(() => {
                            this.set({ error: null }); // we don't care about the return, if it's not an error
                        });
                    } catch (err) {
                        let error;
                        if (NetworkError.is(err)) {
                            error = err.message;
                        } else {
                            console.error(err);
                            error = 'An unknown server error occurred.';
                        }
                        this.set({ error });
                    }
                    this.set({ loading: false, edit: false });
                } else {
                    this.set({ edit: true });
                }
            }
        },
        data() {
            return {
                error: null,
                edit: false,
                loading: false
            }
        },
        components: {
            GithubLogo,
            BeamLogo,
            TwitterLogo,
            TwitchLogo,
            DButton,
            DInput,
            LoaderIcon,
            Error
        }
    }
</script>
