<div class="contest" style="{{contestStyles}}">
    <div class="content">
        <h3 class="title">{{title}}</h3>
        <span class="description">{{description}}</span>
    </div>
    <div class="status">
        <BoxInformation>{{status ? 'Status: ' + status : info}}</BoxInformation>
    </div>
    <div class="button-container">
        <DButton class="button" href="{{href}}">More Info</DButton>
    </div>
</div>

<style>
    .contest {
        /*margin: 10px 20px;*/

        color: #fff;

        display: inline-block;
        box-sizing: border-box;
        width: 100%;
    }

    @media (min-width: 1000px) {
        .contest {
            max-width: 300px;
        }
    }

    .contest .content {
        padding: 20px 10px;
    }

    .contest .title {
        font-size: 26px;
        margin-bottom: 10px;
    }

    .contest .description, .contest .status {
        color: #eee;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
    }

    .contest .button-container {
        padding: 10px;
    }

    .contest .button {
        font-size: 20px;
        width: 100%;
    }

</style>

<script>
    import DButton from '../forms/DevathonButton.html';
    import BoxInformation from '../containers/BoxInformation.html';
    import {colors, shade} from '../helpers/colors';

    export default {
//        props: {
//            index: {'default': 0},
//            title: {'default': 'Default Title and Year'},
//            description: {'default': 'Default description of this Devathon contest, things that happened maybe the winner?'},
//            status: {},
//            info: {'default': 'Status: Planned'},
//            href: {},
//            width: {'default': null}
//        },
        computed: {
            contestStyles(index) {
                return {
                    backgroundColor: colors[this.index % colors.length],
                    boxShadow: `6px 6px ${shade(colors[this.index % colors.length], -30)}`,
                    width: this.width
                };
            }
        },
        data() {
            return {
                color: '#fff',
                shadow: '0 0 #fff',
            };
        },
        components: {
            DButton,
            BoxInformation
        }
    }


</script>
