<div class="trophy">
    <object data="{{url}}" type="image/svg+xml"></object>
    <span>{{trophy.name}}</span>
</div>

<style>
    .trophy {
        width: 100px;
        max-width: 100%;
        margin: 10px 20px;
        display: inline-block;
        vertical-align: top;
        text-align: center;
    }
</style>

<script>
    export default {
        computed: {
            url(trophy) {
                return `/public/images/${trophy.filename}.svg`;
            }
        }
    }
</script>
