{{#if src}}
    <img class="gh-avatar" src="{{src}}" style="{{style}}"/>
{{else}}
    <div class="gh-avatar" style="{{style}}"></div>
{{/if}}

<style>
    .gh-avatar {
        border: 4px solid rgba(255, 255, 255, 0.4);
        box-sizing: border-box;
        display: block;
        margin: 0 auto;
    }
</style>

<script>
    const cached = {};

    export default {
//        props: ['username', 'id', 'size', 'marginBottom', 'marginTop', 'rounded'],
        onrender() {
//            this.set({src: url});
        },
        computed: {
            style: function (size, rounded, marginBottom, marginTop) {
                return `border-width: ${size / 20}px;` +
                        `margin-top: ${marginTop || `${size / 5}px`};` +
                        `margin-bottom: ${marginBottom || `${size / 5}px`};` +
                        `border-radius: ${rounded ? `${size / 2}px` : `4px`};` +
                        `width: ${size}px;` +
                        `height: ${size}px;`;
            },
            src(id, size, username) {
                const cache = cached[id || username];
                if (cache) {
                    if (cache.size >= size) {
                        return cache.url;
                    }
                }
                let url;
                if (id) {
                    url = `/avatar/${id}.png?size=${size}`;
                } else {
                    url = `https://github.com/${username}.png?size=${size}`
                }
                cached[id || username] = {
                    size,
                    url
                };
                return url;
            }
        }
    }
</script>

