<div style="{{style}}" class="logo-container">
    <object data="/public/images/logo.svg" type="image/svg+xml"/>
</div>

<style>
    .logo-container {
        max-width: 100%;
        margin: 0 auto 5px;
        /*min-height: 100px;*/
    }

    .logo-container > object {
        height: 100%;
        width: 100%;
    }
</style>

<script>
    export default {
        computed: {
            style(height, style) {
                return `height: ${height || '20vw'}; ${style || ''}`;
            }
        }
    }

</script>
