<div class="header">
    {{yield}}
</div>

<style>
    .header {
        color: #fff;
        text-align: center;

        padding: 16px;
        margin-bottom: 16px;

        box-shadow: 0 6px #254e44;

        background: #459280; /* Old Browsers */
        background: -webkit-linear-gradient(bottom left, #459280, #00ced1); /*Safari 5.1-6*/
        background: -o-linear-gradient(bottom left, #459280, #00ced1); /*Opera 11.1-12*/
        background: -moz-linear-gradient(bottom left, #459280, #00ced1); /*Fx 3.6-15*/
        background: linear-gradient(bottom left, #459280, #00ced1); /*Standard*/
    }
</style>