<div class="input-container">
    <label class="label" for="{{id}}">
        {{yield}}
    </label>
    <select :id class="select" name="{{id}}" on:input="handle(event)">
        <option disabled selected="{{!value}}"></option>
        {{#each list as country}}
            <option selected="{{value === country}}">{{country}}</option>
        {{/each}}
    </select>
    <small class="sub">{{sub || ''}}</small>
</div>

<style>
    /* todo deduplicate styles from DevathonInput */

    .input-container {
        display: block;
    }

    .select {
        display: block;
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
        padding: 10px;
        margin: 0;

        font-size: 14px;

        border-radius: 10px;
        border: 2px solid rgba(0, 0, 0, 0.4);
        background: #fff;
    }

    .label {
        margin: 0;
        padding: 0;
        font-size: 14px;
        width: 100%;
    }

    .sub {
        color: #333;
        margin-bottom: 10px;
        display: inline-block;
        font-family: monospace;
        font-weight: bold;
        font-size: 14px;
    }
</style>

<script>
    import countries from 'country-list';

    const list = countries().getNames();

    export default {
        data: () => ({ list }),
        methods: {
            handle(event) {
                if (this.get('bound')) {
                    this.set({ value: event.target.value });
                } else {
                    this.fire('input', event);
                }
            }
        }
    };
</script>
