{{#if href}}
<a href="{{href}}" class="{{classes}}" style="{{styles}}">
    {{yield}}
</a>
{{else}}
<button style="{{styles}}" class="{{classes}}" on:click="click(event)">
    {{yield}}
</button>
{{/if}}

<style>
    .button {
        display: inline-block;
        box-sizing: border-box;
        padding: 8px 16px;

        cursor: pointer;

        text-align: center;
        color: rgba(255, 255, 255, 0.9);
        text-decoration: none;
        font-size: 20px;
        background-color: rgba(255, 255, 255, 0.3);

        border: 3px solid rgba(255, 255, 255, 0.2);
        border-radius: 4px;

        transition: color 0.2s ease-out, border-color 0.2s ease-out, background-color 0.2s ease-out;
    }

    .button.thin {
        padding: 2px 4px;
        font-size: 14px;
    }

    .button.round {
        border-radius: 32px;
    }

    .button.full {
        width: 100%;
    }

    .button:hover {
        color: rgba(255, 255, 255, 0.8);
        background-color: rgba(255, 255, 255, 0.2);
        border-color: rgba(255, 255, 255, 0.1) !important;
    }

    .button svg {
        height: 20px;
        width: auto;
        margin: 0 4px -3px;
    }
</style>

<script>
    import {colors, mix, hexToRgba} from '../helpers/colors';

    export default {
//        props: [
//            'href',
//            'size',
//            'index',
//            'box',
//            'full'
//        ],
        data() {
            return {
                box: false,
                full: false,
            };
        },
        computed: {
            classes(size, box, index, full) {
                return {
                    'button': true,
                    'thin': size === 'thin',
                    'round': !box,
                    'full': full,
                    'colored': !isNaN(index)
                };
            },
            styles(index) {
                return {
                    backgroundColor: !isNaN(index) ? mix(hexToRgba(colors[+index % colors.length]), [255, 255, 255, 0.1]) : undefined,
                    borderColor: !isNaN(index) ? 'rgba(255, 255, 255, 0.6)' : undefined
                };
            }
        }
    }
</script>
