<div class="image-upload">
    {{#if image}}
        <img v-if="image" src="{{image}}" class="image-upload-image"/>
    {{else}}
        <div class="image-upload-placeholder">
            Upload
        </div>
    {{/if}}
    <input class="image-upload-input" type="file" accept="image/gif, image/jpeg, image/png" on:change="change(event)">
</div>

<style>
    .image-upload {
        width: 150px;
        height: 150px;
        margin: 0 auto;
        border: 1px solid #ccc;
    }

    .image-upload-image {
        display: block;
        height: 150px;
        width: 150px;
        margin: 0 auto;
    }

    .image-upload-placeholder {
        height: 100%;
        width: 100%;

        font-family: sans-serif;
        vertical-align: middle;
        line-height: 150px;

        background-color: #ccc;
    }

    .image-upload-input {
        cursor: pointer;
        position: relative;
        top: -150px;
        width: 150px;
        height: 150px;
        opacity: 0;
    }
</style>

<script>
    export default {
        data() {
            return {
                image: null
            };
        },
        methods: {
            change(event) {
                const files = event.target.files;
                if (files.length > 0) {
                    if (files[0].type !== 'image/png' && files[0].type !== 'image/jpeg') {
                        this.fire('error', 'File must be of type PNG or JPEG');
                        return;
                    }
                    if (files[0].size > 100000) {
                        this.fire('error', 'File too large! Resize it to a smaller size (preferably 300x300)');
                        return;
                    }

                    const reader = new FileReader();

                    reader.onload = (file) => {
                        this.set({image: reader.result});
                        this.fire('change', this.get('image'));
                    };

                    reader.readAsDataURL(files[0]);
                }
            }
        }
    }
</script>
